In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.DataFrame(np.arange(10).reshape(2,5),columns=[*"abcde"])

In [4]:
data

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [5]:
data.drop('a', axis=1)

   b  c  d  e
0  1  2  3  4
1  6  7  8  9

In [6]:
data

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9